<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
    <key>NSHumanReadableCopyright</key>
    <string>(C) 2011 visualfc@gmail.com</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>com.visualfc.liteide</string>
	<key>CFBundleVersion</key>
	<string>x3-v0.46875</string>
	<key>CFBundleShortVersionString</key>
	<string>x3</string>
</dict>
</plist>
